<footer class="footer footer-bg white-font py-5">
    <div class="footer-container flex">
      <div>
        <div class="title">
          <img src="../../assets/images/title.svg" alt="Jeganath PV" />
        </div>
        <p>
          Copyright
          <a href="#"><i class="icon-copyright white-font"></i></a> {{ year }}
        </p>
      </div>
  
      <div class="social">
        <a target=”_blank” href="https://www.linkedin.com/in/jeganathan-pv-3a822b147"><i class="icon-linkedin md"></i></a>
        <a target=”_blank” href="https://twitter.com/jeganath_pv"><i class="icon-twitter md"></i></a>
        <a target=”_blank” href="https://instagram.com/jaddupv/"><i class="icon-instagram md"></i></a>
        <a target=”_blank” href="https://www.facebook.com/jaddu.pv"><i class="icon-facebook md"></i></a>
      </div>
    </div>
  </footer>
  