.card-glass{
   border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    width: 300px;
    height: 100%;


    .title{
        h1{
            font-family: 'Gilroy-ExtraBold';
        }
        height: 100px;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
    }

    .content{
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        word-break: break-word;
    }

    .link{
        background-color: var(--secondary);
        border-radius: 5px;
        margin-top: 15px;
        padding: 10px;
        font-size: 20px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
        span{
            padding: 10px;
            margin: 10px;
        }
    }
    .link:hover{
        border: 1px solid var(--secondary);
        background-color: var(--primary-light);
    }


}