$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f6fa;
$primary-color: #017bff;  
$secondary-color: #37dcd2;
$primary-font-color: #223958;
$secondary-font-color: #5a6a83;
$primary-red: #ec5353;
$primary-green: #4ea675;
$primary-grey: #bcc8dd;
$primary-dark-blue: #002240;
